@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root{
  font-size: 20px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
	color: #102770;
	background-color: #ffeba7;
	overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
.over-hide {
  overflow: hidden;
}
.size-22{
  font-size: 22px;
}
.section{
  position: relative;
  width: 90%;
  z-index: 1;
  display: block;
  margin: auto;
//   height: 100%;
}
.full-height{
//   min-height: 100%;
}

.card-3d-wrap {
    position: relative;
    width: 340px;
    max-width: calc(100% - 20px);
    height: 510px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-top: 90px;
  }
  .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;    
    top: 0;
    left: 0;  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 700ms 400ms ease-out; 
  }

.card-front, .card-back {
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112,.07);
  }
  .pricing-wrap{
    position: relative;
    padding-top: 60%;
    width: 100%;
    display: block;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .img-wrap img{
    width: 100%;
    height: auto;
    display: block;
  }
  .pricing-wrap h4{
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 1.7;
    color: #102770;
    transform: translate3d(0, 0, 35px) perspective(100px);
  }
  .pricing-wrap h4:before{
    position: absolute;
    content: '';
    z-index: -1;
    background: linear-gradient(217deg, #448ad5, #b8eaf9);
    width: 70px;
    height: 70px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 20px 0 rgba(16, 39, 112,.3);
    animation: border-transform 6s linear infinite;
  }
  .card-back .pricing-wrap h4:before{
    background: linear-gradient(217deg, #648946, #a3c984);
  }
  .card-back .pricing-wrap h4,.card-back .pricing-wrap h2{
    color: #648946;
  }
  .pricing-wrap h2{
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 36px;
    line-height: 1.1;
    color: #102770;
    transform: translate3d(0, 0, 30px) perspective(100px);
    margin-top: 20px;
  }
  .pricing-wrap h2 sup{
    font-size: 20px;
  }
  .pricing-wrap p{
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #102770;
    transform: translate3d(0, 0, 30px) perspective(100px);
  }
  .img-wrap.img-1{
    position: absolute;
    display: block;
    left: -20px;
    top: -75px;
    z-index: 5;
    width: calc(50% + 100px);
    transform: translate3d(0, 0, 45px) perspective(100px) scaleX(-0.8);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
  }
  .img-wrap.img-5{
    position: absolute;
    display: block;
    left: 0px;
    top: -150px;
    z-index: 5;
    width: calc(50% + 100px);
    transform: translate3d(0, 0, 45px) perspective(100px) scale(2);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  }
  .img-wrap.img-6{
    position: absolute;
    display: block;
    left: 0px;
    top: -150px;
    z-index: 5;
    width: calc(50% + 100px);
    transform: scale(-1.5,1.5);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  }
  .img-wrap.img-8{
    position: absolute;
    display: block;
    left: 30px;
    top: -130px;
    z-index: 5;
    width: calc(50% + 100px);
    transform: scale(-1.5,1.5);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  }
  .img-wrap.img-6{
    position: absolute;
    display: block;
    left: 0px;
    top: -150px;
    z-index: 5;
    width: calc(50% + 100px);
    transform: scale(-1.5,1.5);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  }
  .img-wrap.img-7{
    position: absolute;
    display: block;
    left: -80px;
    top: -150px;
    z-index: 5;
    width: calc(50% + 100px);
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(-1.0);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
    // transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  }
  .img-wrap.img-2 {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    width: 100%;
    transform: translate3d(0, 0, 15px) perspective(100px);
  }
  .img-wrap.img-3,.img-wrap.img-3-1{
    position: absolute;
    display: block;
    right: -50px;
    top: -80px;
    z-index: 5;
    width: calc(60% + 20px);
    transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  .img-wrap.img-3-1{
    position: absolute;
    display: block;
    right: -90px;
    top: -80px;
    z-index: 5;
    width: calc(60% + 20px);
    transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  .img-wrap{
    right: -90px;
  }
  .img-wrap.img-4{
    position: absolute;
    display: block;
    right: -20px;
    bottom: -55px;
    z-index: 5;
    width: calc(20% + 30px);
    transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: transform 300ms 1300ms ease, opacity 200ms 1300ms ease;
  }
  @keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}