<mat-drawer-container  [autosize]="true" class="h-screen bg-slate-800">
    <mat-drawer #drawer class="p-2 h-full bg-rose-300/[0.4]"  position="end" mode="over">
       <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content class="bg-white">
        <div class="p-8 mt-10 w-full text-center text-black text-4xl font-serif ">
            Activities
            <p class="p-4 mt-10 text-center text-black text-xl font-sans">The best way to nurture relationships is by getting involved in fun activities together.</p>
        </div>
            <div class="section over-hide">
              <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center ">
                        <div class=" text-center py-md-0">
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Coracle Ride</h2>
                                            <!-- <p class="mb-4">per person (Excluding Food)</p> -->
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-1">
                                                <img src="/assets/coracle_boat.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Fishing</h2>
                                            <!-- <p class="mb-4">per person (Excluding Food)</p> -->
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-6">
                                                <img src="/assets/fishing.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Natural Water Swimming</h2>
                                            <!-- <p class="mb-4">per person (Excluding Food)</p> -->
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-8">
                                                <img src="/assets/swimming.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3-1">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-back">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Nature walk</h2>
                                            <!-- <p class="mb-4">per person (Excluding Food)</p> -->
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                            </div>
                                            <div class="img-wrap img-5">
                                                <img src="/assets/walk_guy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-back">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Bird Watching</h2>
                                            <!-- <p class="mb-4">per person (Excluding Food)</p> -->
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                            </div>
                                            <div class="img-wrap img-7">
                                                <img src="/assets/bird_watch.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
              </div>  
            </div>
            
        
            
            
        
        
    </mat-drawer-content>
</mat-drawer-container>