<mat-drawer-container  [autosize]="true" class="h-screen bg-slate-800">
    <mat-drawer #drawer class="p-2 h-full bg-rose-300/[0.4]"  position="end" mode="over">
       <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content class="bg-white">
        <div class="p-8 mt-10 w-full text-center text-slate-600 text-lg font-sans ">
            <p class="text-center text-slate-800 text-xl font-sans font-semibold">CORACLE RIDE</p>
            <hr>
            <p>At our camping site, we offer a variety of activities to help you fully immerse yourself in the beauty of the backwaters. One of our most popular activities is the coracle ride, which allows you to explore the waterways in a traditional round boat. As you drift along the calm waters, you'll have the opportunity to take in the stunning views and spot an array of wildlife.</p>
            <hr>
            <p class="text-center text-slate-800 text-xl font-sans font-semibold">NATURE WALK</p>
            <hr>
            <p>For those who love to be active, we offer guided nature walks through the nearby forests. These walks are a great way to get some exercise and learn about the local flora and fauna. If you prefer to cool off, you can take a dip in the refreshing waters of the backwaters or go for a swim at the beach.</p>
           <hr> 
           <p class="text-center text-slate-800 text-xl font-sans font-semibold">FISHING</p>
            <hr>
            <p>For those who enjoy fishing, the backwaters are home to a variety of species that are perfect for angling. Whether you're a seasoned fisherman or a beginner, you'll have the opportunity to cast a line and see what you can catch.</p>
           <hr>
           <p class="text-center text-slate-800 text-xl font-sans font-semibold">BIRD WATCHING</p>
            <hr>
            <p>For birdwatchers, our campsite is a paradise. The backwaters are home to a wide variety of bird species, including herons, kingfishers, and egrets. You can spend hours watching these beautiful creatures in their natural habitat or take a guided birdwatching tour with one of our experienced guides.</p>
           <p class="text-center text-slate-800 text-xl font-sans font-semibold">NTURAL WATER SWIMMING</p>
            <hr>
            <p>Swimming in the natural waters of the backwaters is an unforgettable experience that you can enjoy at our campsite. The backwaters are home to crystal clear waters that are perfect for a refreshing dip. As you swim, you'll be surrounded by the stunning natural beauty of the region, with its towering trees, abundant wildlife, and tranquil surroundings. Whether you're a strong swimmer or just looking to cool off, the backwaters are the perfect place to dive in. Just be sure to follow all safety guidelines and precautions while swimming in natural bodies of water.</p>
            <hr>
            <p>No matter what activities you choose to participate in, you'll have the chance to truly connect with nature and create lasting memories at our camping site.</p>
        </div>
            <div class="section over-hide">
              <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center ">
                        <div class=" text-center py-md-0">
                           
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Coracle Ride</h2>
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-1">
                                                <img src="/assets/coracle_boat.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                    
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Fishing</h2>
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-6">
                                                <img src="/assets/fishing.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Natural Water Swimming</h2>
                                           
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                            </div>
                                            <div class="img-wrap img-8">
                                                <img src="/assets/swimming.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3-1">
                                                <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-back">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Nature walk</h2>

                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                            </div>
                                            <div class="img-wrap img-5">
                                                <img src="/assets/walk_guy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                            <figure class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                      <div class="card-back">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Enjoy</h4>
                                            <h2 class="mb-2">Bird Watching</h2>

                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                            </div>
                                            <div class="img-wrap img-7">
                                                <img src="/assets/bird_watch.png" alt="">
                                            </div>
                                            <div class="img-wrap img-3">
                                                <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
              </div>  
            </div>
            
        
           
            
        
        
    </mat-drawer-content>
</mat-drawer-container>