 blockquote:before, blockquote:after {
	content: "\201C";
	position: relative;
	color: #f24816;
	font-size: 50px;
	font-style: normal;
}
 blockquote:before {
	top: 20px;
	left: 0px;
}
 blockquote:after {
	content: "\201D";
	right: 0px;
	bottom: -25px;
}
.btn {
	top: 99.5%;
	left: 33%;
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #e5e7eb;
	margin: 0;
	position: absolute;
}