<div class="section over-hide">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section text-center py-5 py-md-0">
                      <input class="pricing" type="checkbox" id="{{checkBoxNo}}" name="{{checkBoxNo}}"/>
                      <label for="{{checkBoxNo}}"><span class="block-diff">{{choice1}}<span class="float-right">{{choice2}}</span></span></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="pricing-wrap">
                                    <h4 class="mb-5">{{subChoice1}}</h4>
                                    <h2 class="mb-2"><sup>₹</sup>{{subChoice1Price}} / Night</h2>
                                    <p class="mb-4">per person (Excluding Food)</p>
                                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                    <!-- <p class="mb-4">Drina, Serbia</p> -->
                                    <a href="https://wa.me/+919845866505?text=I want to experience + {{subChoice1}} + package" class="link">Contact Us</a>
                                    <div class="img-wrap img-2">
                                        <img src="{{img1Center}}" alt="">
                                    </div>
                                    <div class="img-wrap img-1">
                                        <img src="{{img1left}}" alt="">
                                    </div>
                                    <div class="img-wrap img-3">
                                        <img src="{{img1right}}" alt="">
                                    </div>
                                    <div class="img-wrap img-6">
                                        <img src="{{img1btm}}" alt="">
                                    </div>
                                  </div>
                              </div>
                            <div class="card-back">
                                <div class="pricing-wrap">
                                    <h4 class="mb-5">{{subChoice2}}</h4>
                                    <h2 class="mb-2"><sup>₹</sup>{{subChoice2Price}} / Night</h2>
                                    <p class="mb-4">per person (Excluding Food)</p>
                                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                    <!-- <p class="mb-4">Tara, Serbia</p> -->
                                    <a href="https://wa.me/+919845866505?text=I want to experience + {{subChoice2}}+ package" class="link">Contact Us</a>
                                    <div class="img-wrap img-2">
                                        <img src="{{img2Center}}" alt="">
                                    </div>
                                    <div class="img-wrap img-4">
                                        <img src="{{img2left}}" alt="">
                                    </div>
                                    <div class="img-wrap img-5">
                                        <img src="{{img2right}}" alt="">
                                    </div>
                                    <div class="img-wrap img-7">
                                        <img src="{{img2btm}}" alt="">
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>