.or{
    
}
.link {
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: #ffeba7;
    transition: all 200ms linear;
    // font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.2;
    transform: translate3d(0, 0, 30px) perspective(100px);
  }
  .link-1{
    background-color: #102770;
  }
  .link-2{
    background-color: #047857;
  }
  .link-1:hover {
    color: #102770;
    background-color: #ffeba7;
  }
  .link-2:hover {
    color: #047857;
    background-color: #ffeba7;
  }
.price-title:before{
    position: absolute;
    content: '';
    z-index: 0;
    background: linear-gradient(217deg, #448ad5, #b8eaf9);
    width: 70px;
    height: 70px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 25%);
    box-shadow: 0 6px 20px 0 rgba(16, 39, 112,.3);
    animation: border-transform 6s linear infinite;
  }

  @keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}