<mat-drawer-container  [autosize]="true" class="h-screen bg-slate-800">
    <mat-drawer #drawer class="p-2 h-full bg-rose-300/[0.4]"  position="end" mode="over">
       <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content class="body-background ">
        <!-- <img [src]="imageSrc" class="sm:w-5/6 w-auto mx-auto h-full"> -->
        <!-- <div> -->
          <!-- <app-pricing 
          checkBoxNo="check1"
          choice1="BYOT" 
          choice2="Tent Stay"
          subChoice1="Bring your own tent"
          subChoice2="Get our tent"
          subChoice1Price="1600"
          subChoice2Price="2000"
          [img1Center]="threeDImageObj?.greenGrass"
          [img2Center]="threeDImageObj?.greenGrass"
          [img1left]="threeDImageObj?.bringYourTent"
          [img2left]="threeDImageObj?.tent"
          [img1right]="threeDImageObj?.bush"
          [img2right]="threeDImageObj?.bush"
          [img1btm]="threeDImageObj?.bushRock"
          [img2btm]="threeDImageObj?.bushRock"
          ></app-pricing> -->
          <!-- <app-pricing checkBoxNo="check2" choice1="Kayaking2" choice2="Camping2"></app-pricing> -->
  
        <!-- </div> -->


        <section>
          <div class="p-8 mt-10 w-full text-center text-black text-4xl section-heading ">
              Our Packages
          </div>
          <div class="bg-white mx-4 z-0 py-8 rounded-xl">
            <div class="p-4 price-title mb-4 relative">
              <p class="text-2xl text-center font-semibold px-2 tracking-widest text-blue-900  relative">Bring your own tents</p>
              <p class="relative z-10 !mb-0 text-xl text-center font-normal tracking-wide text-blue-900"><sup>₹</sup>1250/ Night</p>
              <p class=" text-center text-lg text-blue-900 relative z-5">per person</p>
              <div class="text-center">
                <a target="_blank" href="https://wa.me/+919845866505?text=I'll get my own tents for ₹1250" class="link link-1">Try this out!!</a>
              </div>
            </div>
            <div class="or text-black text-4xl font-bold text-center">OR</div>
            <div class="p-4 price-title-2 mt-4">
              <p class="text-2xl text-center font-semibold px-2 tracking-widest text-emerald-700  relative">Wild earth tents</p>
              <p class="relative z-10 !mb-0 text-xl text-center font-normal tracking-wide text-emerald-700"><sup>₹</sup>1999/ Night</p>
              <p class=" text-center text-lg text-emerald-700 relative z-5">per person</p>
              <div class="text-center">
                <a target="_blank" href="https://wa.me/+919845866505?text=I want wild earth camp tents for ₹1999" class="link link-2">Try this out!!</a>
              </div>
            </div>
            <hr>
            <div class="text-black text-lg font-semibold mt-8 text-center">
                <button (click)="scrollToElement(target)" class="flex items-center justify-center px-6 py-3 bg-cyan-400 rounded-xl m-auto">
                  Know More <mat-icon>expand_more</mat-icon>
                </button>
            </div>
          </div>
        </section>
        <section #target  class="p-4">
          <div class="h-1/2 card-backgroud-1 p-4 text-black rounded-xl"> 
            <div>
              <p  class="text-xl tracking-wide font-semibold" >Both the above packages include the following:</p>
              <p class="text-lg font-semibold">Amenities</p>
              <ol class="list-disc grid gap-4 grid-cols-2 mb-4 px-4">
                <li>Bonfire</li>
                <li>Watch tower</li>
                <li>Restaurant</li>
                <li>Covered Area</li>
                <li>Common Washrooms</li>
                <li>Secured Area</li>
                <li>Pet friendly</li>
                <li>Tents </li>
                <li>Our tribe at your service</li>
                <li>Speaker(on request Time slot)</li>
                <li>Mattress, pillows and blankets</li>
              </ol>
              <p  class="text-lg font-semibold mt-8">Activities</p>
              <ol class="list-disc grid gap-4 grid-cols-2 px-4">
                <li>Jungle trek</li>
                <li>Sunset</li>
                <li>Star Gazing</li>
                <li>Karaoke</li>
                <li>Bird Watch</li>
                <li>Football</li>
                <li>Cricket
                <li>Frisbee</li>
                <li>Punch ball</li>
                <li>Shuttlecock</li>
                <li>Campfire</li>
                <li>Archery</li>
                <li>Dart</li>
                <li>Jenga</li>
                <li>Ludo</li>
                <li>Fresh water swim/play (Life jackets provided) </li>
              </ol>
              <ul class="premium-card p-6 mt-2 rounded-xl list-disc">
                <li>Coracle Boat ride  <strong>(Chargeable)</strong> </li>
                <li>Fishing <strong>(Chargeable)</strong> </li>
                <li>Live barbeque  <strong>(Chargeable)</strong> </li>
              </ul>
            </div>
          </div>
          <div  class="h-1/2 card-backgroud-1 p-4 text-black rounded-xl"> 
            <div>
              <p class="text-sm " >All our tent will be set up facing towards the waters, each tent is with a <strong>king size foam mattress.</strong> </p>
              <p class="text-sm font-normal">Restaurant timing- <strong> 7 A.M to 10 P.M</strong></p>
              <p class="text-sm font-normal">We also have <strong> buffet</strong> options available.</p>
              <p class="text-sm font-normal">Our package includes <strong>breakfast</strong>, early morning tea/coffee and evening tea/coffee, 
                all the above amenities and activities are included <strong> apart from fishing, Boat ride and barbeque.</strong></p>
              
              <div class="premium-card p-4 mt-2 rounded-xl">
              <p class="text-sm">Boat Ride <strong><sup>₹</sup>99</strong>/person</p>
              <p class="text-sm">Fishing <strong><sup>₹</sup>500</strong> for 2 gears</p>
              <p class="text-sm">Barbeque <strong><sup>₹</sup>700</strong> first chicken every added chicken <strong><sup>₹</sup>500</strong> . <sup>( Our special marinated chicken, Stand, salad and barbeque equipment)</sup></p>
              </div>
            </div>
            <div class="flex justify-around gap-4 my-8">
              
                <a target="_blank" href="https://wa.me/+919845866505?text=I want wild earth camp tents for ₹1250" >
                  <button class="text-center  text-white text-base font-semibold bg-[#22D3EE] px-4 py-4 rounded-xl">Go for ₹1250!!</button></a>
          
              
                <a target="_blank" href="https://wa.me/+919845866505?text=I want wild earth camp tents for ₹1999" >
                  <button class="text-center text-white  text-base font-semibold bg-[#22D3EE] px-4 py-4 rounded-xl">
                    Go for ₹1999!!
                  </button>
                  </a>
    
            </div>
          </div>
        </section>
        <app-footer></app-footer>
       
    </mat-drawer-content>
</mat-drawer-container>