<mat-toolbar class="max-w-full mx-auto bg-black/[0.9] justify-between z-30 fixed top-0 ">
    <a class="text-2xl " routerLink="/home">Wild Earth</a>
        <div class="hidden sm:block sm:justify-between sm:flex sm:w-1/2">
            <button routerLink="/home" mat-button>Home</button>
        <!-- <button routerLink="/booking" mat-button>Booking</button> -->
            <!-- <button routerLink="/activities" mat-button>Activities</button> -->
            <button routerLink="/contact" mat-button>Bookings</button>
            <!-- <button routerLink="/review" mat-button>Review</button> -->
        </div>
        <div>
        <button mat-icon-button class="text-xs font-bold" *ngIf="!play" (click)="playAudio()"><mat-icon>music_off</mat-icon></button>
        <button mat-icon-button class="text-xs font-bold" *ngIf="play" (click)="playAudio()"><mat-icon>music_note</mat-icon></button>
        <button (click)="onMenuClick()" mat-icon-button class="sm:!hidden">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        </div>
    
</mat-toolbar>
