<mat-drawer-container  [autosize]="true" class="h-screen bg-slate-800">
    <mat-drawer #drawer class="p-8 h-full bg-rose-300/[0.4]"  position="end" mode="over">
        <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content class="bg-white">
        <img [src]="imageSrc" class="sm:w-5/6 w-auto mx-auto h-full">
        <div class="p-8 w-full text-center text-black text-4xl font-serif ">
            
                WILD EARTH
            
        </div>
        <div class="p-8">
            <div class="text-2xl text-center text-black leading-9 font-thin tracking-wider">
                {{about?.description}}
            </div>
        </div>
        <div class="p-8 bg-black/[0.1]">
            <div class="mb-10 text-center text-black text-4xl font-serif " >
                WHY US
            </div>
            <div class="text-2xl text-center text-black leading-9 font-thin tracking-wider">
                {{whyUs?.description}}
            </div>
        </div>
        <div class="p-8 w-full text-center text-black text-4xl font-serif ">
            LOCATE US HERE
        </div>
            <iframe  class="w-full h-3/4" id="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243.49760882907617!2d76.53191771318691!3d12.452268859423112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8570e5b538e44c12!2sKRS%20Fishing%20Camp!5e0!3m2!1sen!2sus!4v1662725821522!5m2!1sen!2sus&zoom=10" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
    </mat-drawer-content>
</mat-drawer-container>
