/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$font-family-heading:"Dancing script", cursive;

html, body { height: 100%;scroll-behavior: smooth; }
body { margin: 0;
   font-family: "Manrope", sans-serif;
   }
.premium-card{

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 255, 133, 1) 0%, rgba(255, 208, 102, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 255, 133, 1) 0%, rgba(255, 208, 102, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 50%, rgba(255, 255, 133, 1) 0%, rgba(255, 208, 102, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 255, 133, 1) 0%, rgba(255, 208, 102, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 50%, rgba(255, 255, 133, 1) 0%, rgba(255, 208, 102, 1) 100%);

}
.card-backgroud-1{

  /* ff 3.6+ */
  background:-moz-radial-gradient(ellipse at 47% 48%, rgba(255, 255, 233, 1) 0%, rgba(255, 202, 255, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(ellipse at 47% 48%, rgba(255, 255, 233, 1) 0%, rgba(255, 202, 255, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(ellipse at 47% 48%, rgba(255, 255, 233, 1) 0%, rgba(255, 202, 255, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(ellipse at 47% 48%, rgba(255, 255, 233, 1) 0%, rgba(255, 202, 255, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(ellipse at 47% 48%, rgba(255, 255, 233, 1) 0%, rgba(255, 202, 255, 1) 100%);

}
.body-background{
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 45% 48%, rgba(196, 245, 255, 1) 0%, rgba(110, 231, 255, 1) 70%, rgba(13, 248, 248, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 45% 48%, rgba(196, 245, 255, 1) 0%, rgba(110, 231, 255, 1) 70%, rgba(13, 248, 248, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 45% 48%, rgba(196, 245, 255, 1) 0%, rgba(110, 231, 255, 1) 70%, rgba(13, 248, 248, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 45% 48%, rgba(196, 245, 255, 1) 0%, rgba(110, 231, 255, 1) 70%, rgba(13, 248, 248, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 45% 48%, rgba(196, 245, 255, 1) 0%, rgba(110, 231, 255, 1) 70%, rgba(13, 248, 248, 1) 100%);


}
.svg{
    width: 40px;
    height: 40px;
    @media screen and (max-width:450px) {
      width: 30px;
      height: 30px;
    }
  }
  .floating-button{
    position: absolute;
    bottom: 2%;
    right: 5%;
    z-index: 10;
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
  }

  .section-heading{
    font-family: $font-family-heading;
    text-shadow: 2px 2px rgb(164, 249, 215)
}
